@charset "UTF-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
}

/*iconの部分*/
.icon-list{
    display: flex;
}

.icon-item + .icon-item{
    margin-left: 16px;
}


/* headerの部分(position以下は要アレンジ) */
/* position: fixed; スクロールしてもヘッダーを追従させる */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 90%;
    position: fixed;
    top: 40px;
    left: 5%;
    z-index: 999;

}

.header-logo{
    width: 160px;
}

.header-nav-list{
    display: flex;
}

.header-nav-item + .header-nav-item{
    margin-left: 40px;
}

/* mainの部分 */

/* heroimageの部分 */
.hero{
    width: 100%;
    height: 100vh;
}

@keyframes kenburns {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

h2{
    font-size: 36px;
    color: #fff;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    /* rgbaで透明度を調整 */
    margin-top: 100px;
}